.Footer{
    margin-top:100px;
}
.main-footer{
    padding: 60px;
    background-color:#2075BE;
}
.footer-title{
    padding: 50px;
}
.footer-main{
    background-color:rgb(248, 242, 242);
    padding: 30px;
}